<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<h1>单文件上传</h1>
<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file"/><br/><br/>
    <input type="text" name="folderName" value="default"/><br/><br/>
    <input type="submit" value="Submit"/>
</form>
<hr>
<h1>多文件上传</h1>
<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file" multiple="multiple"/><br/><br/>
    <input type="text" name="folderName" value="default"/><br/><br/>
    <input type="submit" value="Submit"/>
</form>
<hr>
<h1>单文件上传 - 压缩</h1>
<form method="POST" action="/uploadFileThumbnail" enctype="multipart/form-data">
    <input type="file" name="file"/><br/><br/>
    <input type="text" name="folderName" value="default"/><br/><br/>
    <input type="submit" value="Submit"/>
</form>
<hr>
<h1>多文件上传 - 压缩</h1>
<form method="POST" action="/uploadFileThumbnail" enctype="multipart/form-data">
    <input type="file" name="file" multiple="multiple"/><br/><br/>
    <input type="text" name="folderName" value="default"/><br/><br/>
    <input type="submit" value="Submit"/>
</form>
<hr>
</body>
</html>